# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# The "packs" directory (virtual disk pack images) and everything in it
packs/
packs/*

# Don't save backup files in the repo
*.BAK
*.bak
*.SAVE
*.old
*.OLD
*~
